################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BurritoBrothers
/bin/Debug
/obj/Debug
